.bg {
    background-color: blue;
    color: blue;
}

.center-img{
    display:block;
    margin:auto;
}

.redondear-izq{
    border-radius: 15px 0px 0px 15px;
    -moz-border-radius: 15px 0px 0px 15px;
    -webkit-border-radius: 15px 0px 0px 15px;
}

.redondear-der{
    border-radius: 0px 15px 15px 0px;
    -moz-border-radius: 0px 15px 15px 0px;
    -webkit-border-radius: 0px 15px 15px 0px;
}